<nav id="main-navigation">
    @@include('../components/_header_title.html', {
        "title": "문구야놀자",
        "link": "javascript:closeNav()"
    })
    <ul>
        <li>
            <a href="#">대시보드 
                
            </a>
        </li>
        <li class="open">
            <a href="#">가맹점 관리</a>
            <img class="icon-right-nav" src="/images/icons/icon_arrowBB.svg" alt="">
            <ul>
                <li><a href="#">가맹점 관리</a></li>
                <li class="active"><a href="#">키오스크 관리</a></li>
            </ul>
        </li>
        <li class="">
            <a href="#">사용자 관리
            </a>
            <img class="icon-right-nav" src="/images/icons/icon_arrowBB.svg" alt="">
        </li>
        <li>
            <a href="#">
                상품 관리
            </a>
            <img class="icon-right-nav" src="/images/icons/icon_arrowBB.svg" alt="">
        </li>
        <li>
            <a href="#">
                재고 관리
            </a>
            <img class="icon-right-nav" src="/images/icons/icon_arrowBB.svg" alt="">
        </li>
        <li>
            <a href="#">가맹점 관리
            </a>
            <img class="icon-right-nav" src="/images/icons/icon_arrowBB.svg" alt="">
        </li>
        <li>
            <a href="#">매출 관리
            </a>
            <img class="icon-right-nav" src="/images/icons/icon_arrowBB.svg" alt="">
        </li>
        <li>
            <a href="#">예치금 관리
            </a>
            <img class="icon-right-nav" src="/images/icons/icon_arrowBB.svg" alt="">
        </li>
        <li>
            <a href="#">거래처 관리
            </a>
            <img class="icon-right-nav" src="/images/icons/icon_arrowBB.svg" alt="">
        </li>
        <li>
            <a href="#">홈페이지 관리
            </a>
            <img class="icon-right-nav" src="/images/icons/icon_arrowBB.svg" alt="">
        </li>
        <li>
            <a href="#">시재 관리
            </a>
            <img class="icon-right-nav" src="/images/icons/icon_arrowBB.svg" alt="">
        </li>
        <li>
            <a href="#">라벨 출력
            </a>
            <img class="icon-right-nav" src="/images/icons/icon_arrowBB.svg" alt="">
        </li>

    </ul>
</nav>
