<header>
    <div class="header-bgr main-header">
        <div class="header header-bgr">
            <div class="content-header">
                <div class="menu-toggle" onclick="openNav()">
                    <img class="svg-logout" src="../images/icons/m_menu_w.svg" alt="">
                </div>
                <h3 class="header_title">@@title</h3>
                <div class="header-right">
                    <a href="#" class="header-link">
                        <img class="svg-logout" src="../images/icons/icon_logout_w.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
@@include('_main_nav.html')

