<header>
    <div class="main-header">
        <div class="header">
            <div class="content-header">
                <div class="menu-toggle" onclick="openNav()">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <h3 class="header_title">@@title</h3>
                <div class="header-right">
                    <a href="@@link" class="header-link">등록하기</a>
                </div>
            </div>
        </div>
    </div>
</header>
@@include('_main_nav.html')

