<!-- <header>
    <div class="main-header">
        <div class="header">
            <div class="content-header">
                <img src="@@leftTitle" class="@@leftIcon" onclick="handleClick('@@param')" alt="">
                <h3 class="header_title">@@title</h3>
               
                <div class="header-right">
                    
                    @@if (!context.iconRight) {
                        <a href="@@link" class="header-link">@@rightTitle</a>
                    }
                    @@if (context.iconRight) {
                        <img src="@@iconRight" onclick="@@eventIconRight" alt="" >
                    }
                </div>
            </div>
        </div>
    </div>
</header> -->
<header class="main-header @@dashboard-header">
    <div class="header-left">
        <a href="#">
            @@if (context.leftTitle) {
                <img src="@@leftTitle" class="@@leftIcon" onclick="handleClick('@@param')">
            }
            @@if (!context.leftTitle) {
                <h3></h3>
            }
            
        </a>
    </div>
    <h1 class="header-title @@dashboard-title">@@title</h1>
    <div class="header-right">
        <a href="@@link">
             @@if (context.iconRight) {
                <img src="@@iconRight" onclick="@@eventIconRight" alt="" >
            }
            @@if (!context.iconRight) {
                <h3 class="header-link">@@rightTitle</h3>
            }
        </a>
    </div>
</header>
@@include('_main_nav.html')

