.detail-store-page {
    .container {
        margin: 0px;
        padding: 0 0 20px;
    }

    .box-detail {
        margin: 20px 20px;
        font-family: NanumSquare;

        .box-input {
            margin-top: 20px;

            .inp-pr-0 {
                padding-right: 0px;
                
            }

            .inp-pl-0 {
                padding-left: 0px;
                .custom-file-input::-webkit-file-upload-button {
                    visibility: hidden;
                }
                .custom-file-input {
                    cursor: pointer;
                    width: 108px;
                    overflow: hidden;
                }
                .custom-file-input:before {
                    width: 97px;
                    height: 36px;
                    font-family: NanumSquare;
                    font-size: 14px;
                    font-weight: 800;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: normal;
                    color: #111111;
                    line-height: 39px;
                    content: '파일 선택';
                    display: inline-block;
                    border-radius: 5px;
                    background-color: #fed400;
                    padding: 0 10px;
                    text-align: center;
                    margin-left: 10px;
                    margin-right: 20px; 
                }
                .custom-file-input::-webkit-file-upload-button {
                    visibility: hidden;
                }
            }

            .select-file {
                text-align: center;
                width: 95px;
                height: 36px;
                padding: 0px;
                border-radius: 5px;
                background-color: #fed400;
                font-family: NanumSquare;
                font-size: 14px;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #111111;
            }
            .search-address{
                position: relative;
                .search-img{
                    position: absolute;
                    bottom: 10px;
                    right: 15px;
                }
            }
            .label-input {
                input {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111111;
                }
            }
            .box-input__main-check{
                &__radio-box{
                    // padding-right: 0px;
                    
                    .label-radio{
                        // opacity: 0.5;
                        font-family: NanumSquare;
                        font-size: 14px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #111111;
                    }
                }
                
            }

            &__main-check {
                margin-top: 10px;

                &__radio_box {}
            }

            .royalty {
                color: red;

                .select-inp-par {
                    .select-inp {
                        font-family: NanumSquare;
                        font-size: 14px !important;
                        font-weight: bold;
                        padding-right: 0px;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #111111;
                    }
                }
            }
            .kiosk-info {
                background: #ffffff;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                
                &__data {
                    border-radius: 10px;
                    border: solid 1px #f5f5f5;
                    background-color: #ffffff;
                    width: 100%;
                    margin-bottom: 10px;
                    padding: 15px;
                    &__no_like {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
        
                        .text-no {
                            font-family: Roboto;
                            font-size: 11px;
                            font-weight: 300;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: left;
                            color: #111111;
                            .remove-box{
                                margin-left: 10px;
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
        
                    &__detail {
                        margin-top: 10px;
                        .box-content {
                            
                            &__text {
                                opacity: 0.8;
                                font-family: NanumSquare;
                                font-size: 11px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                text-align: left;
                                color: #111111;
                            }
        
                            &__number {
                                font-family: Roboto;
                                font-size: 20px;
                                font-weight: bold;
                                font-stretch: normal;
                                font-style: normal;
                                letter-spacing: normal;
                                text-align: left;
                                color: #111111;
                            }
                        }
                    }
                }
            }
        }

        &__title_box {
            position: relative;

            &__main-title {
                font-family: NanumSquare;
                font-size: 20px;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                margin-left: 2px;

                &.store-owner {
                    margin-top: 40px;
                    margin-bottom: 20px;
                }

                &.history-deposit {
                    margin-top: 40px;
                    margin-bottom: 20px;
                }

                &.memo {
                    margin-bottom: 25px;
                }
            }

            &__border-title {
                width: 100px;
                height: 5px;
                background-color: #fed400;
                position: absolute;
                top: 16px;
                z-index: -1;

                &__owner-information {
                    width: 120px;
                    height: 5px;
                    background-color: #fed400;
                    position: absolute;
                    top: 16px;
                    z-index: -1;
                }

                &__agreement-information {
                    width: 140px;
                    height: 5px;
                    background-color: #fed400;
                    position: absolute;
                    top: 16px;
                    z-index: -1;
                }

                &__sales {
                    width: 205px;
                    height: 5px;
                    background-color: #fed400;
                    position: absolute;
                    top: 16px;
                    z-index: -1;
                }
            }
        }

        &__owner-information {
            margin-top: 40px;
        }

        &__sales {
            margin-top: 0px;

            .label-input {

                .span-text {
                    font-family: NanumSquare;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #111111;
                }

                .span-price-sales {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: normal;
                    color: #111111;
                }
            }
        }

        .store-owner {
            &__number {
                span {
                    font-size: 11px;
                    color: #111111;
                    font-family: Roboto;
                }
            }

            &__name {
                font-size: 11px;
                color: #111111;
            }

            &__desc {
                font-size: 14px;
                color: #111111;
                font-weight: bold;
                font-family: NanumSquare;

                .col-left {
                    .title {}
                }

                .col-right {
                    .title {}
                }
            }
        }

        .history-deposit {
            &__number {
                span {
                    font-size: 11px;
                    color: #111111;
                    font-family: Roboto;
                }
            }

            &__name {
                font-size: 11px;
                color: #111111;
            }

            &__desc {
                font-size: 14px;
                color: #111111;
                font-weight: bold;
                font-family: Roboto;
            }
        }

        .memo {
            &__number {
                span {
                    font-size: 11px;
                    color: #111111;
                    font-family: Roboto;
                }
            }

            &__name {
                font-size: 11px;
                color: #111111;
            }

            &__desc {
                font-size: 14px;
                color: #111111;
                font-family: NanumSquare;
                margin-top: 8px;
            }

            &__date {
                img {
                    padding-left: 8px;
                    width: 17px;
                }
            }
        }

        &__add-more {
            width: 71px;
            height: 33px;
            padding: 0px;
            margin: 0px;
            opacity: 0.8;
            border-radius: 5px;
            border: solid 1px #5815a5;
            background-color: #f5ebf6;
            .search-form {
                width: 16px;
                height: 16px;
                margin: 0 3px 0 0;
                object-fit: contain;
                color: #5815a5;
            }

            span {
                font-family: NanumSquare;
                font-size: 12px;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                color: #5815a5;
            }
        }
    }
}
.modal-register-store {
    .modal-dialog{
        .modal-content{
            .modal-body{
                p{
                    text-align: center;
                    font-family: NanumSquare;
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.43;
                    letter-spacing: normal;
                    color: #111111;
                }
                padding: 0px 20px 15px 20px;
                .filter_search_page {
                    .type-filter {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
            
                        button {
                            background: #5815a5;
                            border: none;
                            padding: 12px 15px 11px;
                            border-radius: 18px;
                            display: flex;
                            align-items: center;
            
                            label {
                                padding-left: 5px;
                                color: #ffffff;
                                font-family: NanumSquare;
                                font-size: 12px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: normal;
                                text-align: left;
                                color: #ffffff;
                                white-space: nowrap;
                            }
                        }
            
                        .control-search {
                            position: relative;
                            width: 70%;
                            padding-left: 10px;
            
                            img {
                                position: absolute;
                                right: 15px;
                                top: 50%;
                                transform: translateY(-50%);
            
                            }
                        }
                    }
                    .box-radio{
                        border-radius: 10px;
                        border: solid 1px #f5f5f5;
                        margin: 15px 0px;
                        padding: 22px 10px 10px;
                        .box-input__main-check{
                            &__radio-box{
                                // padding-right: 0px;
                                .label-radio{
                                    font-family: NanumSquare;
                                    font-size: 14px;
                                    font-weight: bold;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: normal;
                                    letter-spacing: normal;
                                    text-align: left;
                                    .text-radio{
                                        display: flex;
                                        align-items: center;
                                        font-family: NanumSquare;
                                        font-size: 14px;
                                        font-weight: 800;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: normal;
                                        letter-spacing: normal;
                                        text-align: left;
                                        color: #111111;
                                    }
                                }
                                .label-number{
                                    font-family: Roboto;
                                    font-size: 14px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: normal;
                                    letter-spacing: normal;
                                    text-align: left;
                                    color: #111111;
                                }
                                
                            }
                            
                        }
                        hr.line-modal{
                            background-color: #e0dcdc;
                            display: block;
                            height: 1px;
                            margin: 5px 0 10px 0;
                        }
                        
                    }
                }
            }
        }
    }
    
}