.detail-user-page {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    .form-detail {
      padding-top: 20px;
      padding-bottom: 30px;
      font-family: NanumSquare;
      &__main-title {
        font-family: NanumSquare;
        font-size: 20px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        text-align: left;
        color: #111111;
        margin-bottom: 14px;
        &.history-point {
          margin-top: 45px;
          margin-bottom: 20px;
        } 
        &.memo {
          margin-top: 45px;
          margin-bottom: 25px;
        } 
      }
      .base-input {
        font-family: NanumSquare;
        font-size:14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #111111;
      }
  
      .history-point {
        .list-group {
          border-radius: 10px;
          border: solid 1px #f5f5f5;
          .card {
            -moz-box-shadow: none;
            -goog-ms-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none !important;
            .card-body {
              padding-top: 0px;
              padding-bottom: 1.063rem;
              padding-left: 0.938rem;
              padding-right: 0.938rem;
              &.top-card {
                padding-top: 1.063rem !important;
              }
            }
          }
          hr {
            border-bottom: 1px solid #f1efef;
            margin-bottom: 1px;
             margin-top: 15px
          }
        }
        &__number {
          span {
            font-size: 11px;
            color: #111111;
            font-family: RobotoLight;
          }
        }
        &__name {
          color: #111111;
          .col-left {
            .icon-user {
              vertical-align: text-bottom;
              img {
                width: 20px;
              }
            }
            .title {
              font-size: 20px;
              font-weight: bold;
              font-family: NanumSquare;
            }
          }
          .col-right {
            .title {
              font-size: 11px;
              font-weight: bold;
            }
          }
        }
        &__desc {
          padding-top: 5px;
          padding-bottom: 2px;
          font-family: NanumSquare;
          font-size: 11px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #111111;
          .col-left {
            .title {
              opacity: 0.8;
            }
          }
          .col-right {
            .title {
              opacity: 0.8;
            }
          }
        }
        &__qty {
          font-family: Roboto;
          font-size: 14px;
          font-weight: bold;
          text-align: left;
          color: #111111;
          .col-left {
            .title {
            }
          }
          .col-right {
            .title {
            }
          }
        }
      }
  
      .memo {
        .list-group {
          border-radius: 10px;
          border: solid 1px #f5f5f5;
          .card {
            -moz-box-shadow: none;
            -goog-ms-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none !important;
            .card-body {
              padding-top: 0px;
              padding-bottom: 1.063rem;
              padding-left: 0.938rem;
              padding-right: 0.938rem;
              &.top-card {
                padding-top: 1.063rem !important;
              }
            }
          }
          hr {
            border-bottom: 1px solid #f1efef;
            margin-bottom: 1px;
             margin-top: 15px
          }
        }
        &__number {
          span {
            font-size: 11px;
            color: #111111;
            font-family: RobotoLight;
          }
        }
        &__name {
          font-size: 11px;
          color: #111111;
        }
        &__desc {
          font-size: 14px;
          color: #111111;
          font-family: NanumSquare;
          margin-top: 8px;
        }
        &__date {
          img {
            padding-left: 8px;
            width: 17px;
          }
        }
      }
  
      &__add-more-point {
        margin-top: 42px;
        background-color: #f5ebf6;
        color: #5815a5;
        border: 1px solid #7953a5;
        width: 52px;
        padding: 5px 5px;
        font-size: 12px;
      }
      &__add-more-memo {
        margin-top: 40px;
        background-color: #f5ebf6;
        color: #5815a5;
        border: 1px solid #7953a5;
        width: 52px;
        padding: 5px 5px;
        font-size: 12px;
      }
    }
  }


  .modal-add-point {
    .modal-body {
      padding-top: 2px;
      .box-check {
        &__label-checkbox {
          &.none-choose {
            opacity: 0.5 !important;
          }
        }
      }
    
      .box-search {
        display: flex;
        &__label {
          width: 85px;
          padding-right: 0px;
          text-align: right;
          line-height: 40px;
          label {
            font-family: NanumSquare;
            font-size: 14px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #111111;
            text-align: right;
          }
        }
        &__input {
          margin-right: 0px;
          padding-left: 10px;
          padding-right: 8px;
          width: calc(100% - 95px);
          input {
            // opacity: 0.5;
            font-family: NanumSquare;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #111111;
          }
        }
      }
    }
  }
}
