.management-user {
  min-height: 90vh;
  .filter-block {
    position: fixed;
    z-index: 666;
    width: 100%;
    background: #ffffff;
    padding: 20px 20px 20px 15px;
    .select-block {
      padding-right: 0px;
      padding-left: 15px;
      margin-right: -5px;
      button {
        font-size: 12px;
        padding: 10px;
        width: 95%;
        border-radius: 18px;
        background-color: #5815a5;
        border: none;
        margin-left: 2px;
        height: 36px;
        img {
          padding: 3px;
        }
      }
    }
    .input-block {
      .input-search-common__input-form::placeholder {
        color:#111;
        opacity: 0.5;
        font-family: NanumRegular;
      }
      padding-right: 4px;
      input {
      }
      span {
        // border-left: none;
        // background-color: #ffffff
      };
    }
  }

  .account-items {
    background-color: #F5F5F5;
    min-height: 95vh;
    padding: 95px 15px 0px 15px;
    font-size: 14px;
    .list-group {
      // border-radius: 10px;
      .card {
        -moz-box-shadow: none;
        -goog-ms-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none !important;
        padding-top: 1.063rem;
        margin-bottom: 0.625rem;
        .card-body {
          padding-top: 0px;
          padding-left: 0.938rem;
          padding-right: 0.938rem;
        }
      }
      hr {
        // border-bottom: 1px solid #f1efef;
        // margin-bottom: 0px;
        // margin-top: 10px;
      }
    }
    &__number {
      span {
        font-family: RobotoLight;
        font-size: 11px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #111111;
      }
    }
    &__name {
      color: #111111;
      .col-left {
        .icon-user {
          img {
            width: 20px;
            height: 20px;
            vertical-align: sub;
            object-fit: contain;
          }
        }
        .title {
          font-family: NanumSquare;
          font-size: 20px;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #111111;
        }
      }
      .col-right {
        .title {
          font-family: NanumSquare;
          font-size: 12px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #111111;
        }
      }
    }
    &__desc {
      span {
        font-size: 11px;
        color: #111111
      }
    }
  }
}




