.detail-admin-page {
  .form-detail{
    padding-top: 0px;
    padding-bottom: 30px;
    font-family: NanumSquare;
    &__main-title {
      font-family: NanumSquare;
      font-size: 20px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      text-align: left;
      color: #111111;
      margin-bottom: 14px;
      // text-decoration: underline;
      // text-decoration-color: #FED400;
      // text-underline-offset: 2px;
      // text-underline-offset: 2px;
      // text-decoration-thickness: 3px;
      &.store-owner {
        margin-top: 40px;
        margin-bottom: 20px;
      } 
      &.history-deposit {
        margin-top: 40px;
        margin-bottom: 20px;
      } 
      &.memo {
        margin-top: 40px;
        margin-bottom: 25px;
      } 
    }
    .base-input {
      font-family: NanumSquare;
      font-size:14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #111111;
    }
    .base-select {
      font-family: NanumSquare;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #111111;
    }
    .dropdown-custom {
      // padding: 10px 0 ;
      // border-radius: 5px;
      // border: solid 1px #e6e6e6;
      // background-color: #ffffff;
      color: #111111;
      &__button {
        border-radius: 5px;
        border: solid 1px #e6e6e6;
        background-color: #ffffff;
        display: block;
        width: 99%;
        opacity: 0.8;
        font-family: NanumSquare;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        text-align: left;
        color: #111111;
        padding: 5px 10px 5px 15px;
        &::after {
          font-size: 23px;
          float: right;
          background-image: url('./../images/icons/icon_miniarrow_up.svg');
          width: 10px;
          height: 4px;
          background-repeat: no-repeat;
          border: none;
          margin-top: 5px;
        }
      }
      ul {
        width: 100%;
        li {
          button {
            font-family: NanumSquare;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #111111;
          }
        }
      }
    }

    .store-owner {
      .card {
        border: 1px solid #f5f5f5;
      }
      &__number {
        span {
          font-size: 11px;
          color: #111111;
          font-family: Roboto;
        }
      }
      &__name {
        font-size: 11px;
        color: #111111;
      }
      &__desc {
        font-size: 14px;
        color: #111111;
        font-weight: bold;
        font-family: NanumSquare;
        .col-left {
          .title {
          }
        }
        .col-right {
          .title {
          }
        }
      }
    }

    .history-deposit {
      &__number {
        span {
          font-size: 11px;
          color: #111111;
          font-family: Roboto;
        }
      }
      &__name {
        font-size: 11px;
        color: #111111;
      }
      &__desc {
        font-size: 14px;
        color: #111111;
        font-weight: bold;
        font-family: Roboto;
      }
    }

    .memo {
      &__number {
        span {
          color: #111111;
          font-family: Roboto;
          font-size: 11px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
        }
      }
      &__name {
        .col-left {
          .title {
            opacity: 0.8;
            font-family: NanumSquare;
            font-size: 11px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            text-align: left;
            color: #111111;
          }
        }
      }
      &__desc {
        p {
          font-family: NanumSquare;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #111111;
          margin-top: 8px;
        }
      }
      &__date {
        img {
          padding-left: 8px;
          width: 17px;
        }
      }
    }

    &__add-more {
      margin-top: 35px;
      background-color: #f5ebf6;
      color: #5815a5;
      border: 1px solid #7953a5;
      width: 52px;
      height: 33px;
      padding: 5px 5px;
      font-size: 12px;
    }
  }
}
