.product-detail-scan-barcode {
    .product-img {
        background: #e6e6e6;
        min-height: 360px;
        position: relative;
        .img-new {
            position: absolute;
            top: 15px;
            left: 15px;
        }
        .upload-img-product {
            display: flex;
            align-items: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            h2 {
                padding-left: 10px;
                margin: 0;
                opacity: 0.5;
                font-family: NanumSquare;
                font-size: 25px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.4;
                letter-spacing: normal;
                text-align: left;
                color: #111111;
            }
        }
        .img-product-detail {
            position: relative;
            .img-detail {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .remove-img {
                width: 26px;
                height: 26px;
                padding: 7px;
                background-color: #000000;
                position: absolute;
                right: 0;
                top: 0;
                img {
                    display: block;
                    margin: auto;
                }
            }
        }
    }
    .main-product-detail {
        
        &__add-to-cart {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // padding: 21px 0 19px;
            
            cursor: pointer;
            position: fixed;
            width: 100%;
            bottom: 0;
            .main-submit-add-cart{
                display: flex;
                align-items: center;
            }
            .item_button_detail {
                font-family: NanumSquare;
                font-size: 16px;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #111111;
                padding: 21px 0 19px;
                width: calc(100%/2);
            }
            .text-change-price {
                background-color: #e6e6e6;
            }
            .text-add-cart {
                background-color: #3ebdff;
                color: #fff;
            }
        }
        &__info-data {
            padding: 10px;
            &__product {
                padding: 10px;
                border-bottom: 2px solid #f5f5f5;
                &__status {
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    padding-bottom: 5px;
                    display: flex;
                    align-items: center;
                    span {
                        font-family: NanumSquare;
                        font-size: 11px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        padding: 3px 7px;
                        border-radius: 2px;
                        margin-right: 5px;
                    }
                    .status_sale {
                        color: #3553ee;
                        background-color: #80aeff66;
                        font-weight: normal;
                    }
                    .status_phrases {
                        color: #111111;
                        background-color: #fed400;
                        font-family: NanumSquareB;
                    }
                    .status_unsold {
                        color: #111111;
                        background-color: #e6e6e6;
                    }
                    .status_sports {
                        color: #ffffff;
                        background-color: #56bf5c;
                    }
                    .status_accessory {
                        background-color: #f981aa;
                        color: #ffffff;
                    }
                    .status_other {
                        font-family: NanumSquareR;
                        font-size: 12px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.08;
                        letter-spacing: normal;
                        text-align: left;
                        color: #111;
                        padding: 0;
                    }
                }
                &__name {
                    font-family: NanumSquare;
                    font-size: 18px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111111;
                    padding-bottom:8px;
                }
                &__quantity-price {
                    font-family: NanumSquareB;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.08;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111;
                    padding-bottom: 7px;
                }
                &__total_price {
                    display: flex;
                    align-items: center;
                    .number_price {
                        font-family: Roboto;
                        font-size: 23px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #c52321;
                        display: flex;
                        align-items: center;
                        &::after{
                            content: "ì›";
                            font-family: NanumSquare;
                            font-size: 14px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: left;
                            color: #c52321;
                            padding:0 5px;
                        }
                    }
                    .text_price {
                        font-family: NanumSquare;
                        font-size: 12px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #c52321;
                    }
                }
            }
            &__barcode {
                padding: 10px;
                &__no {
                    padding-bottom: 8px;
                }
                &__data-quantity {
                    display: flex;
                    align-items: center;
                    img {
                        padding-right: 7px;
                    }
                    .data-barcode {
                        display: flex;
                        align-items: center;
                        padding-right: 20px;
                        .value-barcode {
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: left;
                            color: #111111;
                        }
                    }
                    .data-box {
                        display: flex;
                        align-items: center;
                        .value-box {
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: left;
                            color: #111111;
                        }
                    }
                }
            }
        }
    }

    .main-body-change-price {
        padding-top: 10px;
        overflow-y: visible;
        .select2-container--default .select2-results>.select2-results__options {
            max-height: 90px;
        }
        .row-group-form {
            .control-type {
                .form-control {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.36;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111;
                }
            }
            &__title{
                label {
                    strong {
                        font-family: NanumSquareEB;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.14;
                        letter-spacing: normal;
                        text-align: left;
                        color: #111;
                    }
                }
            }
        }
        .row-group-form-store {
            margin-bottom: 30px;
            .control-type {
                position: relative;
            }
            .error-message-common {
                position: absolute;
                bottom: -20px;
            }
        }
        .cart-name {
            text-align: center;
            &__text-name {
                font-family: NanumSquare;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #5815a5;
                padding: 10px 15px;
                border-radius: 5px;
                background-color: #f5f5f5;
            }
        }
        .cart-quantity-price {
            padding: 10px 0 20px 0;
            label {
                display: block;
                opacity: 0.5;
                font-family: NanumSquare;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: center;
                color: #111111;
            }
            &__quantity {

            }
            &__price {

            }
        }
        .main-form-popup_common {
            padding-bottom: 5px;
        }
        .cus-add-quantity-order {
            display: flex;
            align-items: center;
            button {
                height: 36px;
                min-width: 36px;
                background: transparent;
                border: 1px solid #e6e6e6;
                border-radius: 5px;
                img {
                    width: 14px;
                    height: 14px;
                }
            }
            .input_quantity_order {
                margin: 0 15px;
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.21;
                letter-spacing: normal;
                text-align: center;
                color: #111111;
            }
        }
    }

    &.fixed-header {
        .main-product-detail__info-data {
            padding-bottom: 123px;
        }
    }
}