.self-sale-management {
    background-color: #f5f5f5;
    .header-title {
        font-family: 'NanumSquareEB';
    }
    .form-title {
        span {
            font-family: NanumSquareEB;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.15;
            letter-spacing: normal;
            text-align: left;
            color: #000;
        }
    }
    .filter_search_page {
        .content-top-input {
            display: flex;
            padding: 15px 25px 0px 15px;
            align-items: center;
    
            .item-title {
                padding-right: 10px;
                font-family: NanumSquareEB;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.14;
                letter-spacing: normal;
                text-align: left;
                color: #111;
                white-space: nowrap;
            }
    
            .input-search-common {
                width: calc(100% - 48px);
            }       
        }
    }


    .wrapper-conds {
        background-color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;

        .form-detail {
            padding-top: 2px;
            padding-bottom: 20px;
            font-family: NanumSquare;
            .box-conditon {
                margin-bottom: 5px;
            }

            .form-title span::after {
                margin-top: -4px;
                z-index: 1;
            }

            .base-input {
                font-family: NanumSquare;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #111111;
            }

            .label-input {
                span {
                    &.required {
                        color: #111111;
                    }

                    font-size: 14px;
                    font-weight: 800;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #111111;
                }
            }

            .input-custom {
                width: 70%;
                float: left;
            }
            .bnt-checker {
                font-family: NanumSquareEB;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                color: #111;
                margin: 0px 0px 0px 8px;
                padding: 8px 15px;
                border-radius: 5px;
                background-color: #fed400;
                // height: 38px;
            }

            .btn-request {
                font-family: NanumSquareEB;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                color: #fff;
                border-radius: 5px;
                background-color: #5815a5;
                /* height: 36px; */
                text-align: center;
                width: 100%;
                padding: 10px;
                margin-top: 24px;
            }
        }
    }


    .product__text {
        font-family: NanumSquareEB;
        font-size: 14px;
        font-weight: 800;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        padding-right: 5px;
        vertical-align: sub;
    }

    .cart-management-filter__input-search {
        input {
            // width: 85%;
            width: calc(100% - 48px);
            float: right;
        }
    }

    .input-search-common__icon-search {
        // top: 60%;
    }

    .wrapper-self-sale {
        background-color: #f5f5f5;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        &.admin-role {
            margin-top: 85px;
        }
        &.shop-role {
            margin-top: 20px;
        }

        .product-items {
            .product-item {
                margin-bottom: 10px !important;

                .card-body {
                    padding-bottom: 10px;
                }

                &__store {
                    opacity: 0.8;
                    font-family: NanumSquareR;
                    font-size: 11px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111;
                }

                &__name {
                    margin: 3px 5px 0px 0;
                    font-family: NanumSquareEB;
                    font-size: 20px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111;
                }

                .box-action {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    padding-bottom: 3px;

                    .btn_approve {
                        height: 36px;
                        margin: 0px 0 0px 5px;
                        padding: 10px 15px;
                        border-radius: 5px;
                        background-color: #fed400;
                        text-align: center;
                        font-family: NanumSquareEB;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #111;
                        border-radius: 5px;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                    }
    
                    .btn_sub_request {
                        height: 36px;
                        margin: 0px 0 0px 5px;
                        padding: 10px 15px;
                        border-radius: 5px;
                        background: #f5ebf6;
                        text-align: center;
                        font-family: NanumSquareEB;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #5815a5;
                        border-radius: 5px;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                    }
    
                    .btn_complete {
                        height: 36px;
                        margin: 0px 0 0px 5px;
                        padding: 10px 15px;
                        border-radius: 5px;
                        background-color: #ebebeb;
                        text-align: center;
                        font-family: NanumSquareEB;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #111;
                        opacity: 0.5;
                        border-radius: 5px;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                    }
    
                }

          
                hr {
                    height: 1px;
                    background-color: #cccaca;
                    margin: 5px 0px;
                }

                .box-detail {
                    .title {
                        // margin: 10px 47px 1px 0;
                        opacity: 0.8;
                        font-family: NanumSquareR;
                        font-size: 11px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.09;
                        letter-spacing: normal;
                        text-align: left;
                        color: #111;
                    }

                    .desc {
                        height: 13px;
                        font-family: NanumSquareB;
                        font-size: 12px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.08;
                        letter-spacing: normal;
                        text-align: left;
                        color: #111;
                    }
                }
            }
        }
    }

    &.fixed-header {
        .filter_search_page {
            position: fixed;
            top: 50px;
            width: 100%;
            z-index: 1000;
            background: white;
            padding-bottom: 15px;
        }

        .main_center_content {
            margin-top: 115px;
        }
    }
}