.product-management {
    .main-product-management {
        
    }
    .filter_dropdown {
        display        : flex;
        justify-content: flex-end;
        padding        : 15px;

        .dropdown {
            button {
                outline   : none;
                box-shadow: none;
                padding   : 5px 0;
                font-size : 11px;
                &::after{
                    background-image: url(./../images/icons/icon_arrow_select.svg);
                    width: 10px;
                    height: 4px;
                    background-repeat: no-repeat;
                    border: none;
                }
                &:focus {
                    outline: none;
                }
            }

            .dropdown-menu {
                min-width: auto;

                a {
                    font-size: 11px;
                    padding  : 4px 10px;
                }
            }
        }
    }

    .filter_search_page {
        padding: 20px;
        .type-filter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            button {
                background: #5815a5;
                border:none;
                padding: 12px 15px 11px;
                border-radius: 18px;
                display: flex;
                align-items: center;
                label {
                    padding-left: 5px;
                    color: #ffffff;
                    font-family: NanumSquare;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                    white-space: nowrap;
                }
            }
            .control-search {
                position: relative;
                width: 70%;
                padding-left: 10px;
                img {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    
                }
            }
        }
        
    }
    .tab-product {
        min-height: 83vh;
        clear: both;
        height: 100%;
        ul {
            padding         : 0px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                padding: 0 12px;
                a {
                    padding: 8px 0;
                    font-family: NanumSquare;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111111;
                }
            }
        }
        .nav-tabs {
            border: none;
            .nav-link {
                border: none;
                &.active {
                    border-bottom: 2px solid #5815a5;
                }
            }
        }
    }
    .tab-content {
        background-color: #f5f5f5;
        padding         : 10px 15px 20px;
        height: 100%;
        min-height: 83vh;
    }

    .product-info {
        background: #ffffff;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
        &__img {
            img {
                width: 120px;
                height: 120px;
                object-fit: cover;
            }
        }
        &__data {
            padding: 6px 10px 6px 10px;
            width: calc(100% - 120px);
            &__no_like {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .text-no {
                    font-size: 11px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111111;
                }
                .item_like {
                    color: #e6e6e6;
                    &.active {
                        i {
                            color: #fed400;
                        }
                    }
                }
            }
            &__status {
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                padding-bottom: 5px;
                span {
                    font-family: NanumSquare;
                    font-size: 9px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    padding: 3px 7px;
                    border-radius: 2px;
                }
                .status_sale {
                    color: #5815a5;
                    background-color: #eadff6;
                }
                .status_phrases {
                    color: #111111;
                    background-color: #fed400;
                }
                .status_unsold {
                    color: #111111;
                    background-color: #e6e6e6;
                }
                .status_sports {
                    color: #ffffff;
                    background-color: #56bf5c;
                }
                .status_accessory {
                    background-color: #f981aa;
                    color: #ffffff;
                }
            }
            &__name {
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                padding-bottom: 0px;
                .text-name {
                    font-family: NanumSquare;
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111111;
                }
            }
            &__price {
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                padding-bottom: 5px;
                .price-quantity {
                    font-family: NanumSquare;
                    font-size: 11px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111111;
                    opacity: 0.8;
                }
            }
            &__total_price {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .number_price {
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #c52321;
                    display: flex;
                    align-items: center;
                    &::after{
                        content: "원";
                        font-family: NanumSquare;
                        font-size: 14px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #c52321;
                    }
                }
                .text_price {
                    font-family: NanumSquare;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #c52321;
                }
            }
        }
    }
}