.management-profit {
  .pr-0 {
    padding-right: 0px;
  }
  .pl-0 {
    padding-left: 0px;
  }
  header {
    background-color: #ffffff;
  }
  background-color: #f5f5f5;
  main {
    .header-search {
      background-color: #fff;
      padding-bottom: 20px;
      position: fixed;
      z-index: 666;
      width: 100%;
      background: #fff;
      padding: 15px 10px 20px;
      .select-block {
        padding-right: 0px;
        button {
          font-family: NanumSquare;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          padding: 10px;
          width: 90%;
          border-radius: 18px;
          background-color: #5815a5;
          border: none;
          margin-left: 5px;
          img {
            padding: 3px;
          }
        }
      }

      &__name {
        font-size: 23px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }
      .box-date {
        margin-top: 12px;
        &__title {
          padding-right: 0px;
        }
        &__icon_arrowBB {
          width: 12px;
          height: 7px;
          object-fit: contain;
        }
        &__glance {
          font-size: 11px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #111111;
          margin-left: 5px;
          margin-right: 1px;
        }
        &__input {
          input {
            height: 33px;
            font-family: Roboto;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #111111;
          }
        }
      }
    }

    .wrap-main-content {
      padding-top: 110px;
      .static-box {
        margin-top: 200px;
        height: 141px;
        border-radius: 10px;
        background-color: #5815a5;
        width: 97%;
        margin: 25px auto 10px;
        padding: 15px 10px;
        &__total-sale {
          opacity: 0.8;
          font-family: NanumSquare;
          font-size: 14px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }
        &__won {
          font-size: 20px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #ffffff;
        }
        &__number-pay {
          opacity: 0.8;
          font-family: NanumSquare;
          font-size: 11px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }
  
        &__number {
          font-size: 18px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #ffffff;
        }
  
        &__detail-sale-history {
          font-size: 14px;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #111111;
        }
  
        &__sale-piriod {
          font-size: 11px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #111111;
        }
  
        &__border-none {
          border: none;
        }
  
        &__custom-border {
          border-bottom: 1px solid #f5f5f5;
        }
  
        &__box-content {
          font-size: 11px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #111111;
        }
  
        &__box-content-time {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #111111;
        }
  
        &__box-number {
          font-size: 20px;
          font-weight: 999;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: right;
          color: #111111;
        }
        &__box-content-mango {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #111111;
        }
        &__box-content-no {
          font-size: 11px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #111111;
        }
  
        &__box-content-receipt-number {
          opacity: 0.8;
          font-size: 11px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #111111;
        }
  
        &__box-content-number {
          //font-family: Roboto;
          font-size: 23px;
          font-weight: 900;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #111111;
        }
  
        &__box-content-receipt-number-border {
          background-color: #56bf5c;
          padding: 2px !important;
          font-size: 11px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }
  
        &__box-content-number-text {
          font-size: 14px;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #111111;
        }
  
        &__box-content-receipt-number-color {
          font-size: 20px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: right;
          color: #c52321;
        }
  
        &__box-content-receipt-number-border-organ {
          background-color: #ff8534;
          padding: 4px 6px !important;
          font-size: 11px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }
      }
  
      .profit_box {
        margin-top: 200px;
        border-radius: 10px;
        width: 98%;
        margin: 0 auto;
        padding: 15px 0px;
        ul {
          padding-right: 0px;
          .profit-info {
            background: #ffffff;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 10px;
            
            &__img {
                position: relative;
                &_.profit {
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                }
                &__add-cart-owner {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    cursor: pointer;
                }
            }
            &__data {
                padding: 4px 10px 3px 10px;
                width: calc(100% - 120px);
                &__no-number {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .text-no {
                      font-family: Roboto;
                      font-size: 11px;
                      font-weight: 300;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: normal;
                      letter-spacing: normal;
                      text-align: left;
                      color: #111111;
                    }
                    .item_date {
                      font-family: Roboto;
                      font-size: 11px;
                      font-weight: 300;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: normal;
                      letter-spacing: normal;
                      text-align: right;
                      color: #111111;
                    }
                }
                .profit-sub-detail {
                  &__barcode {
                    font-family: Roboto;
                    font-size: 11px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111111;
                    margin-right: 10px;
                  }
                  &__stock {
                    opacity: 0.8;
                    font-family: NanumSquare;
                    font-size: 11px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111111;
                  }
                  &__stock-bf {
                    opacity: 0.5;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111111;
                  }
                  &__stock-af {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111111;
                  }
                }
                &__name {
                  span {
                    margin-top: 5px;
                    margin-right: 20px;
                    font-family: NanumSquare;
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111111;
                  }
                }
                &__midpoint {
                  span {
                    opacity: 0.8;
                    font-family: NanumSquare;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111111;
                  }
                }
                &__price {
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: right;
                    &.negative {
                      color: #c52321;
                    }
                    &.positive {
                      color: #2181ff;
                    }
                }
                &__price-unit{
                    font-family: NanumSquare;
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    &.negative {
                      color: #c52321;
                    }
                    &.positive {
                      color: #2181ff;
                    }
                }
              }
         }
        }
      }
    }
 
  }
}
