.sales-by-affiliate-store {
  header {
    background-color: #FFFFFF;
 }
  background-color: #f5f5f5;

  section {
    position: fixed;
    /* top: 65px; */
    width: 100%;
    z-index: 666;
  }

  main {
    //background-color: #ffffff;
    .header-search {
      background-color: #ffffff;
      &__name {
        font-size: 23px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }
      &__icon_arrowBB {
        width: 12px;
        height: 7px;
        //margin: 29px 234px 25px 5px;
        object-fit: contain;
      }
      &__glance {
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #111111;
      }

      &__input {
        height: 33px;
      }

      .padding-right-0 {
        padding-right: 0;
      }
    }

    .content-01 {
      margin-top: 125px !important;
    }

    .content-02 {
      margin-top: 175px !important;
    }

    .content-03 {
      margin-top: 120px !important;
    }

    .content-04 {
      margin-top: 180px !important;
    }

    .content-05 {
      margin-top: 180px !important;
    }

    .content-06 {
      margin-top: 75px !important;
    }

    .content {
      &__box {
        height: 141px;
        border-radius: 10px;
        background-color: #5815a5;
      }
      &__total-sale {
        opacity: 0.8;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
      &__won {
        font-family: Roboto;
        font-size: 25px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        //line-height: normal;
        letter-spacing: normal;
        //text-align: left;
        color: #ffffff;
      }

      &__won-character {
        font-family: NanumSquare;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        //line-height: normal;
        letter-spacing: normal;
        //text-align: left;
        color: #ffffff;
        line-height: 40px;
      }

      &__won-character-1 {
        font-family: NanumSquare;
        font-size: 16px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        //line-height: 40px;
        letter-spacing: normal;
        //text-align: left;
        color: #111111;
      }
      &__number-pay {
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
      }

      &__number {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        //text-align: left;
        color: #ffffff;
      }

      &__number-character-won {
        font-family: NanumSquare;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        //line-height: normal;
        letter-spacing: normal;
        //text-align: left;
        color: #ffffff;
      }

      &__detail-sale-history {
        font-size: 14px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #111111;
      }

      &__sale-piriod {
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #111111;
      }

      &__border-none {
        border: none;
      }

      &__custom-border {
        border-bottom: 1px solid  #f5f5f5;
      }

      &__box-content {
        opacity: 0.8;
        font-family: NanumSquare;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        //line-height: normal;
        letter-spacing: normal;
        //text-align: left;
        color: #111111;
      }

      &__box-content-right {
        opacity: 0.8;
        font-family: NanumSquare;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        //line-height: normal;
        letter-spacing: normal;
        //text-align: left;
        color: #111111;
      }

      &__box-content-time {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #111111;
      }

      &__box-number {
        font-family: Roboto;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        //line-height: normal;
        letter-spacing: normal;
        //text-align: right;
        color: #111111;
      }
      &__box-content-mango {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #111111;
      }
      &__box-content-no {
        font-size: 11px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #111111;
      }

      &__box-content-receipt-number {
        font-family: NanumSquare;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #111111;
      }

      &__box-content-receipt-number-08 {
        opacity: 0.8;
        font-family: NanumSquare;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        //line-height: normal;
        letter-spacing: normal;
        //text-align: left;
        color: #111111;
      }

      &__box-content-number {
        //font-family: Roboto;
        font-size: 23px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #111111;
      }

      &__box-content-receipt-number-border {
        background-color: #56bf5c;
        padding: 2px !important;
        font-size: 11px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }

      &__box-content-number-text {
        opacity: 0.99;
        font-family: NanumSquare;
        font-size: 11px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #111111;
      }

      &__box-content-receipt-number-color {
        font-family: Roboto;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #c52321;
      }

      &__box-content-receipt-number-color-blue {
        font-family: Roboto;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2181ff;
      }

      &__box-content-receipt-number-border-organ {
        background-color:  #ff8534;
        padding: 1px 5px !important;
        font-size: 11px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #ffffff;
        height: 18px;
        line-height: 18px;
      }

      &__box-content-receipt-number-border-red {
        background-color:  #c52321;;
        padding: 1px 6px !important;
        font-size: 11px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #ffffff;
        height: 18px;
        line-height: 18px;
      }

      &__box-content-receipt-number-border-pink {
        background-color:  #f981aa;;
        padding: 1px 6px !important;
        font-size: 11px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #ffffff;
        height: 18px;
        line-height: 18px;
      }

      &__box-content-receipt-number-border-yellow{
        background-color: #fed400;
        padding: 1px 6px !important;
        font-size: 11px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #ffffff;
        height: 18px;
        line-height: 18px;
      }

      &__box-link {
        font-family: NanumSquare;
        font-size: 11px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #2181ff;
      }

      &__box-link-red {
        font-family: NanumSquare;
        font-size: 11px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #c52321;
        span {}
      }

    }
  }

  .list-group {
    border-radius: 10px;
  }

}