.deposit-management {

  .header-search {

    .button-search {
      width: 101px;
      height: 36px;
      border-radius: 18px;
      background-color: #5815a5;
      border: none;

      .icon_change{
        width: 11px;
        height: 11px;
        margin: 1px 5px 1px 0;
        object-fit: contain;
      }
    }
  }
}

