header {
  background-color: #FFFFFF;
}

.deposit-management {
  main {
    overflow-x: hidden;
  }
  .header-search {

    .button-search {
      width: 101px;
      height: 36px;
      border-radius: 18px;
      background-color: #5815a5;
      border: none;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;

      .icon_change{
        width: 11px;
        height: 11px;
        margin: 1px 5px 1px 0;
        object-fit: contain;
      }
    }
  }



  &__holding-deposit {
    opacity: 0.8;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #111111;
  }

  &__holding-money {
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #111111;
  }

  &__button-fixed-left {
    height: 58px;
    background-color: #e6e6e6;
    line-height: 58px;
    text-align: center;
  }

  &__button-fixed-right {
    height: 58px;
    background-color: #fed400;
    line-height: 58px;
    text-align: center;
  }

  &__button-p {
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #111111;
  }

  &__label {
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #111111;
  }

}

