.inquiry-02 {
  header {
    background-color: #FFFFFF;
  }

  section {
    position: fixed;
    /* top: 65px; */
    width: 100%;
    z-index: 666;
  }

  main {
    .header-search {
      background-color: #ffffff;
      &__name {
        font-family: NanumSquareEB;
        font-size: 23px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
      }
      &__icon_arrowBB {
        width: 12px;
        height: 7px;
        //margin: 29px 234px 25px 5px;
        object-fit: contain;
        margin-bottom: 8px;
      }
      .date-time {
        opacity: 0.5;
        font-family: Roboto;
        font-size: 11px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #111111;
      }
      .title  {
        font-family: NanumSquareB;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #111111;
      }
    }
  }

  .content-inquiry-02 {
    margin-top: 80px !important;

    &__content {
      p {
        margin: 0px;
        padding: 0px;

        font-family: NanumSquareR;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #111111;
      }

      img {
        //width: 100%;
        //margin-top: 5px;
        //margin-bottom: 5px;
        width: 320px;
        height: 320px;
        text-align: center;
        display: block;
        margin: 10px auto;
      }
    }

    &__span-download {
      font-family: NanumSquareB;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #111111;
    }

    &__span-bottom {
      border-bottom: 1px solid #111111;;
    }

    &__span-trash {
      font-family: NanumSquareEB;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #111111;
    }

    &__comment {
      font-family: NanumSquareEB;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #111111;
    }

    &__background-comment {
      background-color: #f5f5f5;
      padding:30px 20px 10px 20px;
    }

    &__comment-h5 {
      font-family: NanumSquareR;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #111111;
    }

    // text area
    //&__text-area {
    //  width: 100%;
    //  resize: none;
    //  border: none;
    //  outline-width: 0;
    //
    //  vertical-align: middle;
    //  font-family: NanumSquareR;
    //  font-size: 14px;
    //  font-weight: normal;
    //  font-stretch: normal;
    //  font-style: normal;
    //  line-height: 1.14;
    //  letter-spacing: normal;
    //  text-align: left;
    //  color: #111111;
    //}

    &__text-area::placeholder{
      opacity: 0.5;
      font-family: NanumSquareR;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #111111;
    }

    &__background-comment-content {
      background-color: #ffffff;
      border: solid 1px #e6e6e6;
      border-radius: 5px;
      padding-bottom: 2px;
      padding-top: 2px;
    }

    &__register {
      font-family: NanumSquareEB;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #5815a5;
    }
  }


  #message-box {
    resize: unset;
    width: 400px;
    //min-height: 15px;
    padding: 5px;
    overflow: hidden;
    box-sizing: border-box;
    outline-width: 0;
    border: none;

    resize: horizontal;
    //overflow: hidden;


      vertical-align: middle;
      font-family: NanumSquareR;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #111111;
  }
}