.inquiry-03{
  .content {
    &__h6 {
      font-family: NanumSquareEB;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #111111;
    }
  }
}