.list-history-use-point {
    main {
        background: #f5f5f5;
    }
    .filter_search_page {
        .content-top-input {
            display: flex;
            padding: 15px 30px 0px 20px;
            align-items: center;
    
            .item-title {
                padding-right: 10px;
                font-family: NanumSquareEB;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.14;
                letter-spacing: normal;
                text-align: left;
                white-space: nowrap;
                color: #111;
            }
    
            .input-search-common {
                width: calc(100% - 48px);
            }       
        }
        .box-range-date {
            // margin-bottom: 10px;
            .range-date {
                width: 100%;
                // display: flex;
                // align-items: center;
            }
        }
    }
   
    .filter_dropdown {
        display: flex;
        justify-content: flex-end;
        padding: 15px 15px 10px;

        .dropdown {
            button {
                outline: none;
                box-shadow: none;
                padding: 5px 0;
                font-size: 11px;
                display: flex;
                align-items: center;

                &::after {
                    background-image: url(./../images/icons/icon_arrow_select.svg);
                    width: 10px;
                    height: 4px;
                    background-repeat: no-repeat;
                    border: none;
                }

                &:focus {
                    outline: none;
                }
            }

            .dropdown-menu {
                min-width: auto;

                a {
                    font-size: 11px;
                    padding: 4px 10px;
                }
            }
        }
    }

    .box-statistic {
        background-color: rgb(234 223 246 / 40%);
        padding: 15px 15px 15px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 10px;
        &__title {
            opacity: 0.8;
            font-family: NanumSquareR;
            font-size: 11px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.09;
            letter-spacing: normal;
            text-align: left;
            color: #111;
        }
        &__currency {
            font-family: NanumSquareB;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: normal;
            text-align: left;
            color: #111;
        }
        &__amount {
            font-family: Roboto;
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.3;
            letter-spacing: normal;
            text-align: left;
            color: #111;
        }
        .slt-type {
            margin-top: 40px;
        }
    }

    .main-page-history-use-point {
        min-height: 86vh;
        background: #f5f5f5;
        padding: 0px 15px 15px;
        .main-paginate {
            text-align: center;
            display: flex;
            justify-content: center;
            margin-top: 15px;

            ul {
                display: flex;
                align-items: center;

                li {
                    padding: 0 10px;
                    cursor: pointer;

                    span {
                        font-family: NanumSquareOTFR;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.14;
                        letter-spacing: normal;
                        text-align: left;
                        color: #aaa;
                    }

                    &.active {
                        background: #fed400;
                        border-radius: 50%;

                        span {
                            color: #111111;

                        }

                    }
                }
            }
        }

        .main-item {
            margin-top: 5px;
            list-style-type: none;
            padding-left: 0px;
            .point-item {
                background-color: #ffffff;
                // min-height: 88px;
                margin-bottom: 10px;
                padding: 15px 10px;
                &__store {
                    color: #111;
                }
                &__value {
                    float: right;
                }

                .label-no {
                    font-family: Roboto;
                    font-size: 11px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.36;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111;
                }

                .label-date {
                    float: right;
                    font-family: Roboto;
                    font-size: 11px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.36;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111;
                }
                .label-phone {
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111;
                }

                .label-desc {
                    font-family: NanumSquareR;
                    font-size: 11px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.09;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111;
                }

                .label-store {
                    opacity: 0.8;
                    font-family: NanumSquareR;
                    font-size: 11px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.09;
                    letter-spacing: normal;
                    text-align: left;
                    color: #111;
                }

                .label-point {
                    float: right;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.31;
                    letter-spacing: normal;
                    text-align: right;
                    color: #111;
                }

                .label-state {
                    float: right;
                    font-family: NanumSquareB;
                    font-size: 11px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.09;
                    letter-spacing: normal;
                    text-align: left;                
                    margin-left: 5px;
                    padding: 5px;
                    &.accumulate {
                        color: #111;
                        background-color: #fed400;
                    }
                    &.used {
                        color: #fff;
                        background-color: #5815a5;
                    }
                }

                .label-accumulate {
                    float: right;
                    background: red;
                    padding: 2px;
                }
            }
        }


    }

    &.fixed-header {
        .filter_search_page {
            position: fixed;
            top: 50px;
            width: 100%;
            z-index: 1000;
            background: white;
            padding-bottom: 10px;
        }

        .main_center_content {
            margin-top: 230px;
        }

    }
}
