.product-hot-sell {
  background-color: #f5f5f5;
  main {
    .main-product-hot-sell {
      .filter-search-page {
        background: #fff;
        padding:15px 20px;
        .content-search-name {
          font-family: NanumSquareEB;
          font-size: 23px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.17;
          letter-spacing: normal;
          text-align: left;
          color: #000;
        }


        .input-search-common {
          .range_date {
            border-radius: 5px;
            border: 1px solid #e6e6e6;
            .no_show_keyboard {
              border: none ;
              text-align: center;
            }
          }
        }

        .select-custom {
          //width: 155px;
          height: 36px;
          //padding: 12px 15px;
          border-radius: 5px;
          border: solid 1px #e6e6e6;

          .text-select{
            font-family: NanumSquareR;
            font-size: 11px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.09;
            letter-spacing: normal;
            text-align: left;
            color: #111;
            padding : 12px;

          }
          .image-select-arrow {
            padding: 9px;
            margin-bottom: 14px;
          }

        }

      }


      .nav-custom {
        background: #fff;
      }
      .nav-pills {
        .nav-link {
          //font-family: NanumSquareEB;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.08;
          letter-spacing: normal;
          text-align: center;
          color: #111;
          background: transparent;
          margin: 0px;
        }
      }

      .nav-pills .nav-link.active {
        box-shadow: none;
        border-bottom: 1px solid #5815a5;
        border-radius: 0px;

        font-family: NanumSquareEB;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.08;
        letter-spacing: normal;
        text-align: center;
        color: #111;
      }


      .content {
        padding:15px 20px;
        .h6-title {
          font-family: NanumSquareEB;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.14;
          letter-spacing: normal;
          text-align: left;
          color: #111;
        }

        .text-nav a{
          font-family: NanumSquareR;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.08;
          letter-spacing: normal;
          text-align: center;
          color: #111;
        }

        .swiper-wrapper {
          margin-bottom: 50px;
        }

        .swiper {
          //overflow: visible;
        }


        .swiper-button-next {
          background: #111111;
          min-width: 70px;
          min-height: 70px;
          border-radius: 50% 0px 0px 50%;
          right: 0px;
          z-index: 99999;
        }

        .swiper-button-next::after {
          padding: 10px;
          padding-left: 20px;
          color: white;
        }

        .swiper-button-prev {
          background: #111111;
          min-width: 70px;
          min-height: 70px;
          border-radius: 0px 50% 50% 0px;
          left: 0px;
          z-index: 99999;
        }

        .swiper-button-prev::after {
          padding: 10px;
          padding-left: 20px;
          color: white;
        }

        .swiper-pagination {
          //bottom: -40px;
        }

        .swiper-pagination-bullet {
          width: 10px;
          height: 4px;
          margin: 0 5px 0 0;
          border-radius: 3px;
          background-color: #8f8f8f;
        }

        .swiper-pagination-bullet-active {
          width: 30px;
          height: 4px;
          border-radius: 3px;
          background-color: #ffce0a;
        }



        .slide-chart {
          background-color: #fff;
          border-radius: 10px;
          padding: 30px 17px 23px 20px;
        }

        .title-chart span{
          font-family: NanumSquareR;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.08;
          letter-spacing: normal;
          text-align: left;
          color: #111;
        }

        .title-chart strong{
          font-family: NanumSquareEB;
          font-size: 20px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.15;
          letter-spacing: -1px;
          text-align: left;
          color: #111;
        }

        .ul_revenue__data {
          margin-top: 14px;
          display: flex;
          flex-wrap: wrap;
          padding: 0px;
          margin-bottom: 0px;

          .category {
            font-family: NanumSquareR;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: normal;
            text-align: left;
            color: #111;
          }

          .icon-around {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            top: 5px;
            left: 0px;
            position: absolute;
            display: inline-block;
          }

        }

        .ul_revenue__data li {
          width: 50%;
          list-style: none;
          position: relative;
          margin-bottom: 10px;
          overflow: hidden;
          padding-left: 20px;
          font-size: 14px;
        }

        .ul_revenue__data li p {
          font-family: NanumSquareEB;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.08;
          letter-spacing: -0.6px;
          text-align: left;
          color: #111;
        }

        .note_chart {
          font-family: NanumSquareR;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.08;
          letter-spacing: normal;
          text-align: left;
          color: #111;
        }

        .slide-table {
          padding: 15px 10px 9px;
          border-radius: 10px;
          background-color: #fff;

          .border-bottom-custom {
            border-bottom: 1px solid #f5f5f5 !important;
          }

          .list-group {

            .list-group-item {
              border: none;

              .top-rank {
                position: relative;

                p{
                  position: absolute;
                  left: 6px;
                  top : 9px;
                }
              }


              .title-no {
                font-family: Roboto;
                font-size: 11px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.18;
                letter-spacing: normal;
                text-align: left;
                color: #111;
              }

              .product-name {
                font-family: NanumSquareR;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.14;
                letter-spacing: normal;
                text-align: left;
                color: #111;
              }

              .category-name {
                font-family: NanumSquareR;
                font-size: 11px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.09;
                letter-spacing: normal;
                text-align: right;
                color: #111;
              }

            }

          }
        }

      }
    }
  }
}