header {
  background-color: #FFFFFF;
}
.main-header{
  width: 100%;
  background-color: #eee;
  overflow: hidden;
  position: relative;
  display: inline-block;
  .header{
    background-color: #FFFFFF;
    color: #fff;
    padding: 15px 20px;
  }
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .header_title {
      font-size: 18px;
      font-family: NanumSquare;
      font-weight: 800;
      padding: 15px;
      text-align: center;
      color: #111111;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .header-right {
      .header-link {
        font-size: 14px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #5815a5;
      }
    }
    .menu-toggle {
      &:hover{
        cursor: pointer;
      }
      .line{
        width: 22px;
        height: 2px;
        margin: 4px 0;
        background-color: #000;
      }
    }

  }
}






