@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(./../fonts/NanumSquareR.eot);
 src: url(./../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(./../fonts/NanumSquareR.woff) format('woff'),
      url(./../fonts/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(./../fonts/NanumSquareB.eot);
 src: url(./../fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(./../fonts/NanumSquareB.woff) format('woff'),
      url(./../fonts/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquareEB';
 font-weight: 800;
 src: url(./../fonts/NanumSquareEB.eot);
 src: url(./../fonts/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(./../fonts/NanumSquareEB.woff) format('woff'),
      url(./../fonts/NanumSquareEB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(./../fonts/NanumSquareL.eot);
 src: url(./../fonts/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(./../fonts/NanumSquareL.woff) format('woff'),
      url(./../fonts/NanumSquareL.ttf) format('truetype');
}

@font-face {
font-family: 'NanumSquareExtraBold';
src: url(./../fonts/NanumSquareExtraBold.eot);
src: url(./../fonts/NanumSquareExtraBold.eot?#iefix) format('embedded-opentype'),
     url(./../fonts/NanumSquareExtraBold.woff2) format('woff2'),
     url(./../fonts/NanumSquareExtraBold.ttf) format('truetype');
}
@font-face {
font-family: 'NotoSansCJKkrBold';
// font-weight: 800;
src: url(./../fonts/NotoSansCJKkr-Bold.woff) format('woff'),
     url(./../fonts/NotoSansCJKkr-Bold.ttf) format('truetype');
}

@font-face {
      font-family: 'RobotoBold';
      src: url(./../fonts/roboto-bold-webfont.eot);
      src: url(./../fonts/roboto-bold-webfont.eot?#iefix) format('embedded-opentype'),
           url(./../fonts/roboto-bold-webfont.woff2) format('woff2'),
           url(./../fonts/roboto-bold-webfont.woff) format('woff'),
           url(./../fonts/roboto-bold-webfont.ttf) format('truetype'),
           url(./../fonts/roboto-bold-webfont.svg#robotobold) format('svg');
      
  }
  @font-face {
      font-family: 'RobotoMedium';
      src: url(./../fonts/roboto-medium-webfont.eot);
      src: url(./../fonts/roboto-medium-webfont.eot?#iefix) format('embedded-opentype'),
           url(./../fonts/roboto-medium-webfont.woff2) format('woff2'),
           url(./../fonts/roboto-medium-webfont.woff) format('woff'),
           url(./../fonts/roboto-medium-webfont.ttf) format('truetype'),
           url(./../fonts/roboto-medium-webfont.svg#robotomedium) format('svg');
      font-weight: normal;
      font-style: normal;
  
  }
    

  @font-face {
      font-family: 'RobotoLight';
      src: url(./../fonts/roboto-light-webfont.eot);
      src: url(./../fonts/roboto-light-webfont.eot?#iefix) format('embedded-opentype'),
           url(./../fonts/roboto-light-webfont.woff2) format('woff2'),
           url(./../fonts/roboto-light-webfont.woff) format('woff'),
           url(./../fonts/roboto-light-webfont.ttf) format('truetype'),
           url(./../fonts/roboto-light-webfont.svg#robotolight) format('svg');
      font-weight: normal;
      font-style: normal;
  
  }

  @font-face {
     font-family: 'NanumSquareBold';
     src: url(./../fonts/NanumSquareBold.eot);
     src: url(./../fonts/NanumSquareBold.eot?#iefix) format('embedded-opentype'),
          url(./../fonts/NanumSquareBold.woff2) format('woff2'),
          url(./../fonts/NanumSquareBold.woff) format('woff'),
          url(./../fonts/NanumSquareBold.ttf) format('truetype'),
          url(./../fonts/NanumSquareBold.svg#NanumSquareBold) format('svg');
     font-weight: normal;
     font-style: normal;
 }

  @font-face {
  font-family: 'RobotoRegular';
  src: url(./../fonts/Roboto-Regular-webfont.eot);
  src: url(./../fonts/Roboto-Regular-webfont.eot?#iefix) format('embedded-opentype'),
  url(./../fonts/Roboto-Regular-webfont.woff) format('woff2'),
  url(./../fonts/Roboto-Regular-webfont.ttf) format('truetype'),
  url(./../fonts/Roboto-Regular-webfont.svg#robotoregular) format('svg');
  font-weight: normal;
  font-style: normal;
}