@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(./../fonts/NanumSquareR.eot);
 src: url(./../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(./../fonts/NanumSquareR.woff) format('woff'),
      url(./../fonts/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(./../fonts/NanumSquareB.eot);
 src: url(./../fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(./../fonts/NanumSquareB.woff) format('woff'),
      url(./../fonts/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url(./../fonts/NanumSquareEB.eot);
 src: url(./../fonts/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(./../fonts/NanumSquareEB.woff) format('woff'),
      url(./../fonts/NanumSquareEB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(./../fonts/NanumSquareL.eot);
 src: url(./../fonts/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(./../fonts/NanumSquareL.woff) format('woff'),
      url(./../fonts/NanumSquareL.ttf) format('truetype');
}

@font-face {
font-family: 'NanumSquareExtraBold';
src: url(./../fonts/NanumSquareExtraBold.eot);
src: url(./../fonts/NanumSquareExtraBold.eot?#iefix) format('embedded-opentype'),
     url(./../fonts/NanumSquareExtraBold.woff2) format('woff2'),
     url(./../fonts/NanumSquareExtraBold.ttf) format('truetype');
}
@font-face {
font-family: 'NotoSansCJKkrBold';
// font-weight: 800;
src: url(./../fonts/NotoSansCJKkr-Bold.woff) format('woff'),
     url(./../fonts/NotoSansCJKkr-Bold.ttf) format('truetype');
}

// @font-face {
// font-family: 'RobotoMedium';
//       src: url(./../fonts/RobotoMedium.eot);
//       src: url(./../fonts/RobotoMedium.eot?#iefix) format('embedded-opentype'),
//            url(./../fonts/RobotoMedium.woff2) format('woff2');
// }
@font-face{font-family:'RobotoMedium';
      font-style:normal;font-weight:400;
      src:local('Roboto Medium'),
      local('RobotoLt-Regular'),
      url(http://allfont.ru/cache/fonts/roboto-medium_8e15a56cbec76ef7bdd464649d1a4878.woff) format('woff'),
      url(http://allfont.ru/cache/fonts/roboto-medium_8e15a56cbec76ef7bdd464649d1a4878.ttf) format('truetype')
}