.register-admin-page {
  .form-register{
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: NanumSquare;
    &__main-title {
      font-weight: bold;
      font-size: 20px;
      font-family: NanumSquare;
      &.store-owner {
        margin-top: 40px;
        margin-bottom: 20px;
      } 
      &.history-deposit {
        margin-top: 40px;
        margin-bottom: 20px;
      } 
      &.memo {
        margin-top: 40px;
        margin-bottom: 25px;
      } 
    }

    .store-owner {
      &__number {
        span {
          font-size: 11px;
          color: #111111;
          font-family: Roboto;
        }
      }
      &__name {
        font-size: 11px;
        color: #111111;
      }
      &__desc {
        font-size: 14px;
        color: #111111;
        font-weight: bold;
        font-family: NanumSquare;
        .col-left {
          .title {
          }
        }
        .col-right {
          .title {
          }
        }
      }
    }

    .history-deposit {
      &__number {
        span {
          font-size: 11px;
          color: #111111;
          font-family: Roboto;
        }
      }
      &__name {
        font-size: 11px;
        color: #111111;
      }
      &__desc {
        font-size: 14px;
        color: #111111;
        font-weight: bold;
        font-family: Roboto;
      }
    }

    .memo {
      &__number {
        span {
          font-size: 11px;
          color: #111111;
          font-family: Roboto;
        }
      }
      &__name {
        font-size: 11px;
        color: #111111;
      }
      &__desc {
        font-size: 14px;
        color: #111111;
        font-family: NanumSquare;
        margin-top: 8px;
      }
      &__date {
        img {
          padding-left: 8px;
          width: 17px;
        }
      }
    }

    &__add-more {
      margin-top: 35px;
      background-color: #f5ebf6;
      color: #5815a5;
      border: 1px solid #7953a5;
      width: 52px;
      height: 33px;
      padding: 5px 5px;
      font-size: 12px;
    }
  }
}
